<div class="container">
	<div class="noticia">
		<div class="row">
			<div class="col">
				<h3>{{titulo}}</h3>
			</div>

		</div>
		<div class="row">
			<div class="col">
				{{descripcion}}
			</div>
		</div><br />

		<div class="row">
			<div class="col-md-5">
				<a href={{link}}>ir a noticia</a>
			</div>
		</div>
	</div>
<br />

  <div class="form-group">
		<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea><br />
	<button type="submit" class="btn btn-primary">agregar comentario</button>
</form>
</div>
