<div class="container">
	<div class="row">
		<div class="col">
			<h4>Nueva Noticia</h4>
		</div>

	</div>
	<form class="needs-validation" action="/noticia" method="POST" novalidate="">
	<div class="row">
		<div class="col-md-5 mb-3">
			<input type="text" class="form-control" id="titulo" name="titulo" placeholder="Titulo" required="">
		<div class="invalid-feedback">
                Por favor ingrese titulo
              </div>
		</div>

	</div>
	<div class="row">


		<div class="form-group col-md-5 mb-3">
	    <label for="exampleFormControlSelect1">Categoria</label>
	    <select class="form-control" id="categoria" name="categoria">
	      <option>noticia</option>
	      <option>pregunta</option>
	      <option>mostrar</option>
	    </select>
	  </div></div>
	<div class="row">
		<div class="col-md-10 mb-3">

			<textarea class="form-control" rows="5" id="descripcion" name="descripcion" placeholder="Descripcion" required=""></textarea>
			<div class="invalid-feedback">
                Por favor ingrese descripcion
              </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 mb-3">
			<input type="text" class="form-control" id="link" name="link" placeholder="http://..." required="">
			     <div class="invalid-feedback">
                Por favor ingrese link
              </div>
		</div>
	</div>
	<hr class="mb-4">
	<button class="btn btn-primary btn-lg btn-block" type="submit">Publicar</button>

</form>
</div>

<script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
